.idea/
*.xml
*.iml
*.iws
.classpath
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
/target/
/out/
/web-app/plugins
target-eclipse/
target/
ROOT.war
.project
/web-app/WEB-INF/*
errorStatus.txt
errorReqs.txt
