#activityList {
  float: right;
  list-style: none;

  margin: 0;
  padding:5px;
  background-color: lightgoldenrodyellow;
  border: solid lightgray 1px;
  .hours {
    float: right;
    margin-left: 10px;
  }
}