html, body, #pageContainer {
  height: 100%;
}

body {
  margin: 0;
}

#workdayViewer {
  //filter width
  margin-left: 5px;
  margin-right: 250px;

  #upper {
    height: 200px;

    overflow: hidden;
  }
  #lower {

  }
}

#workdayDetails {
  display: block;
}

#workdaysSummary {
  padding: 5px;
  h3 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    li {
      display: inline-block;
      width: 8.3%;

      margin: 10px 0 0 5px;
    }
  }
}

#workdaysDetails {
  float:left;

  h3 {
    margin: 0;
  }
}

#activitiesInSelection {
  float:right;
  height: 100%;

  overflow-y: scroll;
  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0 10px 0 0;
    }
  }
}

#usersInSelection {
  float:right;
  height: 100%;

  overflow-y: scroll;
  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0 10px 0 0;
    }
  }
}