html, body, #pageContainer {
  height: 100%;
}

body {
  margin: 0;
}

#workdayViewer {
  //filter width
  margin-right: 250px;
  height: 100%;

  overflow: auto;
}

#workdayDetails {
  display: block;

}

#workdaysSummary {
  padding: 5px;
  h3 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    li {
      display: inline-block;
      width: 8.3%;

      margin: 10px 0 0 5px;
    }
  }
}

#usersInSelection {
  float:right;
  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0 10px 0 0;
    }
  }
}