#filter-container {
  position: absolute;

  right: 0;
  width: 240px;
  height: 100%;

  padding: 0 0 0 10px;

  background-color: rgba(118, 126, 121, 0.28);

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 10px 10px 0 0;
    }
  }

  select[multiple] {
    height: 200px;
    width: 100%;
  }
}