html, body, #pageContainer {
  height: 100%;
}

body {
  margin: 0;
}

#activityReportViewer {
  //filter width
  margin-right: 250px;

  #upper {
    overflow: hidden;
    height: 200px;

    white-space: nowrap;

    border-bottom: 1px solid darkslategrey;
  }
  #lower {
    overflow: hidden;
    margin-right: 1px;
  }
}

#activityReportsDetails {
  text-align: center;

  display: block;
}

#activityReportsSummary {
  padding: 5px;
  h3 {
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    li {
      display: inline-block;
      width: 8.3%;

      margin: 10px 0 0 5px;
    }
  }
}

#activityReportsDetails {
  display: inline-block;
  width: 15%;
  padding-top: 5px;
  text-align: center;
  vertical-align: top;

  h4 {
    margin: 0;
  }
}

#activitiesInSelection {
  display: inline-block;
  height: 100%;
  width: 59.5%;
  overflow-y: auto;

  border-left: 1px solid darkslategrey;
  text-align: center;

  h4 {
    margin: 5px;
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0 10px 0 0;
    }
  }
}

#employeesInSelection {
  display: inline-block;
  height: 100%;
  width: 25%;
  overflow-y: auto;

  border-left: 1px solid darkslategrey;
  text-align: center;

  h4 {
    margin: 5px;
  }
  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0 10px 0 0;
    }
  }
}